<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>StartingOpenCV.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>27929E8C1C20550300564CBF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27929EA51C20550400564CBF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27929EB01C20550400564CBF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
